<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestionVivero.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestionVivero.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="GESTEntities" connectionString="metadata=res://*/ModeloDatos.csdl|res://*/ModeloDatos.ssdl|res://*/ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=190.196.184.19;initial catalog=GEST;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="GestionVivero.My.MySettings.ConexionVivero" connectionString="Data Source=72.60.59.142;Initial Catalog=ddvivero;User ID=vivero_user;Password=sqL_2025!###;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="GestionVivero.My.MySettings.SettingPrueba" connectionString="Data Source=72.60.59.142;Initial Catalog=ddvivero;User ID=vivero_user;Password=sqL_2025!###;Encrypt=False;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="GestionVivero.My.MySettings.DBLocal" connectionString="Data Source=MIPC\SQLEXPRESS;Initial Catalog=ddvivero;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <applicationSettings>
    <GestionVivero.My.MySettings>
      <setting name="ConnInternet" serializeAs="String">
        <value>http://www.meteochile.cl/reg07.html</value>
      </setting>
      <setting name="DatEmpIDM" serializeAs="String">
        <value>Vivero D&amp;D</value>
      </setting>
    </GestionVivero.My.MySettings>
  </applicationSettings>
  <userSettings>
    <GestionVivero.My.MySettings>
      <setting name="DatEmpLAD" serializeAs="String">
        <value>Vivero D&amp;D</value>
      </setting>
      <setting name="DatEmpDESA" serializeAs="String">
        <value>Vivero XXXXXXXXXXXXXXXXXX</value>
      </setting>
      <setting name="DatEMPLADFono" serializeAs="String">
        <value>Fono +569 7991 1499</value>
      </setting>
      <setting name="DatEmpIDMFono" serializeAs="String">
        <value>Fono +569 6864 3597</value>
      </setting>
      <setting name="DataEmp" serializeAs="String">
        <value>Vivero D&amp;D</value>
      </setting>
      <setting name="DataFono" serializeAs="String">
        <value>Fono +569 7991 1499</value>
      </setting>
      <setting name="DataEmpDESAFono" serializeAs="String">
        <value>Fono +569 7991 1499</value>
      </setting>
      <setting name="Dir_Ficha" serializeAs="String">
        <value>d:\</value>
      </setting>
      <setting name="R_NBLocal" serializeAs="String">
        <value>Data Source=MIPC;Initial Catalog=GEST;Integrated Security=True</value>
      </setting>
      <setting name="Sistema" serializeAs="String">
        <value>VIVERO D&amp;D</value>
      </setting>
    </GestionVivero.My.MySettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup></configuration>
